@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Euclid Circular A";
        font-weight: 400;
        src: url(/public/fonts/Euclid\ Circular\ A\ Regular.ttf) format("woff");
    }
    html {
        scroll-behavior: smooth;
        font-family: "Euclid Circular A", system-ui, sans-serif;
    }
}
body {
    background-color: #f7f7fe;
}

.transform-translate-button-icon {
    transition: transform 0.35s;
}
.transform-translate-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    gap: 5px;
}
.transform-translate-button:hover .transform-translate-button-icon {
    transform: translateX(0.225rem);
}

.open {
    display: flex;
}
.burger {
    z-index: 3;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 29px;
    height: 29px;
    background-image: url("/public/svg/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}
.bus-dropdown {
    position: relative;
}
.bus-dropdown > button {
    position: relative;
    z-index: 2;
    transition: 0.3s;
}
.bus-dropdown button {
    display: flex;
    align-items: center;
    width: 230px;
    padding: 0 10px;
}
.menu {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 61px;
    left: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    translate: 0 -8px;
    font-size: 14px;
    transition: 0.4s;
}
.menu button {
    border: 0;
    width: 100%;
    height: 56px;
    border-radius: 0;
}

.bus-dropdown.open .menu {
    opacity: 1;
    translate: 0;
    visibility: visible;
}
.title-bus::after {
    content: "";
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;

    display: block;
    border-radius: 10px;
    width: 50px;
    height: 6px;
    background-color: #333;
}
.bg-textured {
    background-color: #f7f7fe;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234585c6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.one::before {
    content: "1";
    position: absolute;
    top: -50px;
    left: -50px;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;

    background: #4585c6;
    color: #f7f7fe;
    border-radius: 100%;
}
.two::before {
    content: "2";
    position: absolute;
    top: -50px;
    left: -50px;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    background: #4585c6;
    color: #f7f7fe;
    border-radius: 100%;
}
.three::before {
    content: "3";
    position: absolute;
    top: -50px;
    left: -50px;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    background: #4585c6;
    color: #f7f7fe;
    border-radius: 100%;
}
.four::before {
    content: "4";
    position: absolute;
    top: -50px;
    left: -50px;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    background: #4585c6;
    color: #f7f7fe;
    border-radius: 100%;
}
.five::before {
    content: "5";
    position: absolute;
    top: -50px;
    left: -50px;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    background: #4585c6;
    color: #f7f7fe;
    border-radius: 100%;
}

.custom-shadow-primary {
    box-shadow: 0 45px 75px rgba(199, 218, 240, 1);
}

.custom-shadow-secondary {
    box-shadow: 0 20px 65px rgba(241, 205, 183, 1);
}
/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
    min-height: 300px;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
    transition: all ease-in-out;
}

input:focus-visible + label {
    outline: 2px solid rgba(0, 102, 204, 1);
    border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
    color: #06c;
    transition: all 0.26s;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #06c;
}

.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.tabset {
    width: 80em;
}
